{% extends 'base.html' %}
{% block title %} {{ board.name }} {% endblock title %}
{% block content %}
    <h1 class="h1">Boards / {{ board.name }}</h1>

    <div class="mb4">
        <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
    </div>
    <br>
    <table class="table">
        <thead class="thead-dark">    
            <th>Topic</th>
            <th>Starter</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last update</th>
        </thead>
        <tbody>
            {% for topic in board.topics.all %}
                <tr>
                    <td>{{ topic.subject }}</td>
                    <td>{{ topic.user.username }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}