{% extends base_accounts.html %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Reset your passwor</h3>
                <p>Check you email, we have sent you the letter with instructions for resetting you password</p>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to login page</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}